#topnav-div {
    background: linear-gradient(50deg, rgba(6,6,5,1) 0%, rgba(46,43,40,1) 100%); 
    width:100%;

    position: fixed;
    float: top;
    top: 0px;

    border-radius: 10px;
    /*overflow: auto;*/
    
    z-index: 68 /* sadge */;
}

#topnav-list {
    margin: 10px;
    float: left;
}

#topnav-button {
    background: linear-gradient(50deg, rgba(46,43,40,0.5) 0%, rgba(16,16,15,0.5) 100%);
    color: white;
    font-size: 15px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    padding: 12px;

    transform: rotate(0deg);
    border: none;
    border-radius: 10px;

    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: .5s;
}

#topnav-button:hover {
    background: #F06520;
    font-size: 18px;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 17px;
    padding: 10px;

    transform: rotate(-4deg);

    text-shadow:
    0 1px #121211,
    -1px 0 #121211,
    -1px 2px #121211,
    -2px 1px #121211,
    -2px 3px #121211,
    -3px 2px #121211,
    -3px 4px #121211,
    -4px 3px #121211,
    -4px 5px #121211,
    -5px 4px #121211,
    -5px 6px #121211,
    -6px 5px #121211,
    -6px 7px #121211,
    -7px 6px #121211,
    -7px 8px #121211,
    -8px 7px #121211;
}

#listnavbar #btnnavbar {
    color: white;
    float: left;
    display: block;
    text-align: center;
    text-decoration: bold;
}