<div id="buttondiv" class="{{ include.tags }}"> 
     <button id="gamebutton" onclick="location.href = '{{ liquidname | relative_url}}' ;">{{ include.name }}</button>
     <image id="thumbnail" onclick="location.href = '{{ liquidname | relative_url}}' ;" src=" {{ liquidthumbnail | relative_url }}"></image>
 
     <p id="unmesatext">we were not given permission from the developer to use this game on our site.</p>
     <p id="fosstext">we were not given permission from the developer to use this game on our site, however it is free and open source.</p>
     
     <hr class="rounded">
     </div> 
     </li> 