
<!-------------------------------
    HOW TO CREATE NEW BUTTONS
---------------------------------

step 1. type the following:
    { % include btn.html name='name' %}

step 2. upload your game's thumbnail to roots/images/thumbnails/

step 3. congrats

important notice:
the game's markdown file, folder, and thumbnail all need to have the exact same name
thumbnails all need to end in .png

--------------------------------->

{% include btn.html name='jump king' tags='foss' %}

{% include btn.html name='celeste' tags='unmesa' %}

{% include btn.html name='cookie clicker' tags='foss' %}

{% include btn.html name='necromicide' %}

{% include btn.html name='mari0' tags='unmesa' %}

{% include btn.html name='bloxorz' tags='unmesa' %}

{% include btn.html name='achievement unlocked' tags='unmesa' %}

{% include btn.html name='alien hominid' tags='unmesa' %}

{% include btn.html name='bloons tower defense 1' tags='unmesa' %}

{% include btn.html name='bloons tower defense 2' tags='unmesa' %}

{% include btn.html name='bloons tower defense 4' tags='unmesa' %}

{% include btn.html name='boxhead; the rooms' tags='unmesa' %}

{% include btn.html name='egg ascent' %}

{% include btn.html name='dad N me' tags='unmesa' %}

{% include btn.html name='interactive buddy' tags='unmesa' %}

{% include btn.html name='cursor10' tags='unmesa' %}

{% include btn.html name='portal flash' tags='unmesa' %}

{% include btn.html name='n-gon' tags='foss' %}

{% include btn.html name='half life' tags='unmesa' %}

{% include btn.html name='spelunky classic' tags='foss' %}

{% include btn.html name='vvvvvv' tags='unmesa' %}

{% include btn.html name='the binding of isaac' tags='unmesa' %}

{% include btn.html name='universal paperclips' tags='foss' %}