<!-------------------------------
    HOW TO CREATE NEW BUTTONS
---------------------------------

step 1. type the following:
    { % include btn.html name='name' %}

step 2. upload your game's thumbnail to roots/images/thumbnails/

step 3. congrats

---------------------------------
    HOW TO CREATE NEW LISTS
---------------------------------

syntax  include list.html name='grug' }} 
  include listbtn.html name='winston be like: overwatch' }}

 LISTS DONT WORK!!!!!! DO NOT USE THEM IT BREAKS EVERYTHING
---------------------------------

important notice:
the game's markdown file, folder, and thumbnail all need to have the exact same name
thumbnails all need to end in .png

--------------------------------->

{% include btn.html name='jump king' %}

{% include btn.html name='celeste' %}

{% include btn.html name='cookie clicker' %}

{% include btn.html name='necromicide' %}

{% include btn.html name='mari0' %}

{% include btn.html name='bloxors' %}

{% include btn.html name='achievement unlocked' %}

{% include btn.html name='alien hominid' %}

{% include btn.html name='bloons tower defense' %}

{% include btn.html name='bloons tower defense 2' %}

{% include btn.html name='bloons tower defense 4' %}

{% include btn.html name='boxhead; the rooms' %}

{% include btn.html name='egg ascent' tags='mesa' %}

{% include btn.html name='dad N me' %}

{% include btn.html name='interactive buddy' %}

{% include btn.html name='cursor10' %}

{% include btn.html name='portal flash' %}

{% include btn.html name='n-gon' %}

{% include btn.html name='half life' %}

{% include btn.html name='spelunky classic' %}

{% include btn.html name='vvvvvv' %}

{% include btn.html name='the binding of isaac' %}

{% include btn.html name='spewer' %}

{% include btn.html name='universal paperclips' %}