<!-------------------------------
    HOW TO CREATE NEW BUTTONS
---------------------------------

step 1. type the following:
    { % include btn.html name='name' %}

step 2. upload your game's thumbnail to roots/images/thumbnails/

step 3. congrats

---------------------------------
    HOW TO CREATE NEW LISTS
---------------------------------

syntax  include list.html name='grug' }} 
  include listbtn.html name='winston be like: overwatch' }}

 LISTS DONT WORK!!!!!! DO NOT USE THEM IT BREAKS EVERYTHING
---------------------------------

important notice:
the game's markdown file, folder, and thumbnail all need to have the exact same name
thumbnails all need to end in .png

--------------------------------->

{% include btn.html name='Jump King' %}

{% include btn.html name='Celeste' %}

{% include btn.html name='Cookie Clicker' %}

{% include btn.html name='Necromicide' %}

{% include btn.html name='mari0' %}