<html>
    <head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8DBQCM4P2Y"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8DBQCM4P2Y');
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2081299942914210"
     crossorigin="anonymous"></script>
   
        <!--google font import-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet"> 

        <script src="{{ "/roots/js/sort.js" | relative_url }}"></script>

        <link rel="stylesheet" href="{{ "/roots/css/main.css" | relative_url }}"> 
        <link rel="stylesheet" href="{{ "/roots/css/splash.css" | relative_url }}"> 

        <link rel="icon" type="image/x-icon" href="{{ "/roots/images/mesa-icon.png" | relative_url }}">

        <title>{{ page.title }}</title>

        {% capture liquidgif %}/roots/images/thumbnails/{{ page.title }}.gif{% endcapture %} 
        <!--metadata (the shit that shows up when you link a website on social media)-->
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="mesa.rip: {{ page.title }}"/>
        <meta property="og:description" content="look no further, we're the best game website. Those other ones? garbage. Cool math doesn't hold a candle. we killed tyrone from tyrones unblocked games in cold blood. behold our power, cower in fear"/>
        <meta property="og:image" content="/roots/images/mesa-icon.png" /> <!--rest in peace <meta property="og:image" content="{{ liquidgif | relative_url }}"></image>, if only metadata could show gifs-->
        <meta property="og:url" content="https://mesa.rip/"/>
        <!--i have no idea if this works but it's all just prayers at this point
            update: this works-->
    </head>
    <body>

        <script  src="roots/js/trail.js"></script> <!--best to keep this not a relative url, it's a real pain in the ass on game pages-->

        <div id="topnav-div">
            <ul id="topnav-list">
                <img id="icon" onclick="location.href = '/' ;" src="{{ "/roots/images/mesa-icon.png" | relative_url }}"></li>
                <button id="topnav-button" onclick="location.href = '/' ;">landing</button></li>
                <div class="dropdown">
                    <button id="topnav-button" class="dropdown">meet the team</button></li>
                    <div class="dropdown-content">
                      <div>{% include meet-the-team/dirt.html %}<hr></div>
                    </div>
                </div>
                <button id="topnav-button" onclick="location.href = 'https://discord.gg/GRGGM7HfBV' ;">Our Discord</button></li>
                <div class="ad"><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2081299942914210"
                    crossorigin="anonymous"></script>
               <!-- navbar ad -->
               <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-2081299942914210"
                    data-ad-slot="3880250977"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
               <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
               </script></div>
            </ul> 
            <p id="game-title">{{ page.title }}</p>
        </div>

        <div id="gamelist">
            <ul id="sortlist">
                {% include gamelist.html %}
            </ul>
        </div>

        <div id="page">
        {{ content }}
            <script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
        <p>if you notice any strange glitches or errors, please let us know on discord or github!</p>
 
        </div>
        <script src="{{ "/roots/js/ruffle/ruffle.js" | relative_url }}"></script>
    </body>
</html>
