<html>
    <head>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MPMBTLF');</script>
<!-- End Google Tag Manager --> 
   
        <!--google font import-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="{{ "/roots/css/main.css" | relative_url }}"> 
        
        <script src='{{ "roots/js/sort.js" | relative_url }}'></script>
        <script src="roots/js/warpjs/warp.js"></script> <!--MAKE THE BACKGROUND WARP AND TWIST AND STUFF-->
        
        <link rel="icon" type="image/x-icon" href="roots/images/mesa-icon.png">

        <title>{{ page.title }}</title>

    </head>
    <body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MPMBTLF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

        <script  src="roots/js/trail.js"></script>

        <div id="topnav-div">
            <ul id="topnav-list">
                <img id="icon" onclick="location.href = 'index.md' ;" src="{{ "/roots/images/mesa-icon.png" | relative_url }}"></li>
                <button id="topnav-button" onclick="location.href = '/' ;">landing</a></li>
                <button id="topnav-button" onclick="location.href = ' {{ miscellaneous\meet-the-team\index.md | relative_url }}' ;">meet the team</a></li>
                <button id="topnav-button" onclick="location.href = 'https://forum.mesacomplex.tk' ;">forum</a></li>
            </ul> 
            <p id="game-title">{{ page.title }}</p>
        </div>
      
        <div id="gamelist">
            <ul id="sortlist">
                {% include gamelist.html %}
            </ul>
        </div>

        <div id="page">
        {{ content }}
        <p>if you notice scaling issues, we're probably aware and are working on it but please scream at us anyawys to get it done! check out our forums or our discord</p>
 
        </div>
        
    </body>
</html>
