<!--so i kept getting build errors and ruby kept throwing a fit because there wasnt a file called duck.html in this directory

but like nowhere i could find even mentions a duck.html
so idk
but this fixed the problem too so its fine ig

also duck if you're reading this you have shit taste in anime lmao, how do you spend all your time watching it to the point of not having a single
commit on this proj and you deadass are just watching saiki k
saiki k is pretty fucking doodoo tbh and honestly the only good anime is cowboy bebop and nichijou lmfao weeb-->